.buttons-column {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}

.buttons-column>span {
    margin: 0!important;
}

.buttons-column>span>button{
    font-size: 13px;
    border-radius: 0;
    min-width: 125px;
}

.table-container {
    overflow-x: auto;
}

table {
    margin-left: auto;
    margin-right: auto;
    display: table;
    width: unset;
    overflow-x: unset;
}

#userinfo { font-style: italic; }

body { width: 100%; margin: 0; max-width:none;}
main {};

