/* ------------------------------------------------------------------

styling for account page. this page is only visible to 
contributors who have logged in and wish to edit their account

--------------------------------------------------------------------- */
input {
    border-bottom: 4px solid gray;
    border-radius: 3px;
    background: rgba(109, 109, 109, 0.13);
    outline: none;
}
input:hover {
    border-bottom: 4px solid gray;
    border-radius: 3px;
}



/* ---- whatever this is for ---- */
.error-list {
    color: red;
    font-weight: bold;
    text-align: center;
}
    .error-list li {
        display: block;
    }



/* ---- Layout ---- */
#account-edit-container {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    gap: 10px;
    padding: 30px;
}
    .account-edit-row {
        display: flex;
        flex-direction:row;
        gap: 50px;
        align-items: center;
    }
        .account-edit-field-right {
            width: 100%;
        }
        .account-edit-field-right>input[type="checkbox"] {
            width: 25px;
        }

        #account-edit-row-save {
            flex-direction:row-reverse;
        }
            .input-change{
                width: 100%;
            }

        #account-edit-save-button {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #333;
            background-color: rgb(45, 255, 56);
            border-radius: 10px;
            border: 5px solid transparent;
            padding-top: 5px;
            padding-bottom: 7px;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 20px;
            font-weight: lighter;
        }

        #account-edit-save-button:hover {
            transform: translateY(-5px);
            color: #333;
            border-color: rgb(70, 206, 77);
            box-shadow: .0rem .2rem .4rem #777;
            pointer-events: visible;
            position: relative;
            z-index: 0;
            visibility: visible;
            float: none;
            cursor: pointer;
        }

        .viewbtn {
            color: white;
            background-color: rgb(121, 44, 204);
        }

        .viewbtn:hover {
            color: white;
            border-color: rgb(131, 80, 186);
        }



/* ---- Items ---- */
#email-visibility { 
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

#account-edit-field-img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
    #avatar-preview {
        width: 128px;
        height: 128px;
        border-radius: .3rem;
    }

.acc {
    border-width: 1px;
    border-radius: 1rem;
    border-style: solid;

    padding: 5px;
    margin-right: 5px; margin-left: 5px; margin-top: 5px;
    float: left;

    text-align: center;

    min-width: 9.375rem; max-width: 9.375rem;
}

#account-edit-field-twitter{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}







@media screen and (max-width:755px){
    .account-edit-field-left{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .account-edit-row{
        flex-direction: column;
    }

    #chekbox-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}