.delete-account-link {
    color:red;
}

#userinfo { font-style: italic; }

body { width: 100%; }
main {
    width: 170vh;
    margin-left: -55vh;
}

@media (max-width: 1950px) {
    main {
        width: 160vh;
        margin-left: -40vh;
    }
}
@media (max-width: 1210px) {
    main {
        width: 180vh;
        margin-left: -30vh;
    }
}