.error-list {
    color: red;
    font-weight: bold;
    text-align: center;
}
.error-list li {
    display: block;
}

#avatar-preview {
    width: 128px;
    height: 128px;
    border-radius: .3rem;
}

input {
    border-bottom: 4px solid gray;
    border-radius: 3px;
    background: rgba(109, 109, 109, 0.13);
    outline: none;
}
input:hover {
    border-bottom: 4px solid gray;
    border-radius: 3px;
}
#name:focus { outline: none; }
#email-visibility { 
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
#email {
    margin-top: 0;
}

/* Layout */
#account-edit-container {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    gap: 10px;
    padding: 30px;
}

.account-edit-row {
    display: flex;
    flex-direction:row;
    gap: 50px;
}

#account-edit-row-save {
    flex-direction:row-reverse;
}

#account-edit-field-img{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.account-edit-field-right>input[type="checkbox"] {
    width: 25px;
}