.checkbox-large {
    width: 5vh;
    height: 5vh;
}

table {
    /* Combat classless CSS
    width: 145%;
    position: relative;
    left: -15vw;
     */
}

td th {
    text-align: center;
    max-height: 10vh;
}

.role-header {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    width: 30px;
    max-height: 20vh;
    overflow-y: auto;
    font-size: small;
}

.role-column {
    width: 30px;
}

.avatar {
    /*width: 10vh;*/
    height: 10vh;
}

.adnav a {
    border-right: 2px solid #333;
}
@media (max-width: 1950px) {
    td th {
        padding-right: 0px;
    }
    table {
        border-spacing: 5px;
    }
}
@media (max-width: 1210px) {
    td th {
        padding-right: 0px;
    }
    table {
        border-spacing: 5px;
    }
}