main {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}

.checkbox-large {
    width: 5vh;
    height: 5vh;
}

.spaced-table {
    border-spacing: 10px 40px!important;
}

td th {
    text-align: center;
    max-height: 10vh;
}

.avatar {
	padding-top: .1rem;
	min-width: 9.375rem;
	max-width: 9.375rem;
	border-radius: .3rem;
}

.checkbox-large {
    width: 5vh;
    height: 5vh;
}

.role-header {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    width: 30px;
    max-height: 20vh;
    overflow-y: auto;
    font-size: small;
}

.role-column {
    width: 80px;
}

.adnav {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    min-height: unset;
}

.adnav a {
    border: 2px solid #999;
    border-radius: 20px 20px 0 0;
    padding: 10px 5px;
}

.resetpasswordbtn { background: rgb(54, 150, 243);}
.resetpasswordbtn:hover { background: rgb(57, 151, 185);}
.manageaccbtn { background: rgb(243, 54, 120);}
.manageaccbtn:hover { background: rgb(185, 57, 149);}
.clearbiobtn { background: rgb(247, 225, 32);}
.clearbiobtn:hover { border-color: rgb(211, 195, 50);}
.clearavatarbtn { background: rgb(255, 127, 0);}
.clearavatarbtn:hover { border-color: rgb(214, 133, 53);}
.deletebtn { background: rgb(255, 0, 0);}
.deletebtn:hover { border-color: rgb(221, 55, 55);}

#filename {
    width: 26rem;
}
.error {
    margin: 2rem;
    text-align: center;
    color: red;
}
.success {
    margin: 2rem;
    text-align: center;
    color: green;
}

.box {
    margin: 8px;
    border: 1px solid black;
    padding: 8px;
}

.spoiler-header {
    text-align: center;
    font-weight: bold;
}

.short-input {
    width: 3.5rem;
}

.uploadlog {
    border-spacing: unset;
    font-family: monospace;
    font-size: 0.8em;
    margin: 0;
}

.uploadlog td {
    padding: 0 5px;
    white-space: nowrap;
}

.rearrange-up-btn, .rearrange-down-btn {
    border: 0;
    border-radius: 0;
    padding: 0;
}
.rearrange-up-btn:hover, .rearrange-down-btn:hover {
    transform: none;
}
