.checkbox-large {
    width: 5vh;
    height: 5vh;
}

table {
    border-spacing: 10px 40px!important;
}

td th {
    text-align: center;
    max-height: 10vh;
}

.role-header {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    width: 30px;
    max-height: 20vh;
    overflow-y: auto;
    font-size: small;
}

.role-column {
    width: 30px;
}

.adnav {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    min-height: unset;
}

.adnav a {
    border: 2px solid #999;
    border-radius: 20px 20px 0 0;
    padding: 10px 5px;
}

main {
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}