/* 
#### Contents ####
    1) General styling
    2) Specific styling
    3) Screen res
*/

/* _________________________ general  _________________________ */

body > div:not(.tox) {
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
    left: 0!important;
    top: 0!important;
    margin: 0!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

body > div:not(.tox) > div {
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
    left: 0!important;
    top: 0!important;
    margin: 0!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
}

body {
    zoom: 90%;
}

main {
    align-self: center;
    background: whitesmoke;
    padding-right: 0.5vh;
    padding-left: 0.5vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
    box-shadow: .2rem .2rem .7rem 0 #777;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: minecraft;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

iframe { border: 5px solid #fadb76; border-radius: 4px;
    height: 225px;
    width: 400px;
}

button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    border-radius: 10px;
    border: 5px solid transparent;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: lighter;
    width: fit-content;
}

button:hover {
    transform: translateY(-5px);
    color: #333;
    box-shadow: .0rem .2rem .4rem #777;
    pointer-events: visible;
    position: relative;
    z-index: 0;
    visibility: visible;
    float: none;
    cursor: pointer;
}
.buttonicon {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
textarea { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

/* _________________________ specific _________________________ */

/* navigation */
.header0 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.nav {
    padding: 10px;
    margin: auto;
    float: left;
    width: auto;
}
.nav li {
    float: left;
    flex: 6 0 21%;
    list-style: none;
    text-decoration: none;
}
.nav li a {
    float: left;
    color: #333;
    padding: 6px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}
.nav li a:hover {
    background-color: #333;
    color: white;
    transform: translateY(-2px);
    box-shadow: .1rem .1rem .4rem 0 #777;
}
.adminNav {
    float: right;
    padding-left: 800px;
}

/* logo */
.header0 .imglink:hover { background: none; }
.imglink {z-index: 1;}

/* buttons */
.backbtn {
    background: rgb(0, 107, 48);
    color: white;
}
.backbtn:hover {
    border-color: rgb(51, 122, 83);
    color: white;
}
.clearbiobtn { background: rgb(247, 225, 32);}
.clearbiobtn:hover { border-color: rgb(211, 195, 50);}
.clearavatarbtn { background: rgb(255, 127, 0);}
.clearavatarbtn:hover { border-color: rgb(214, 133, 53);}
.deletebtn { background: rgb(255, 0, 0);}
.deletebtn:hover { border-color: rgb(221, 55, 55);}

/* upvote/downvote/comment */
/* Styles for upvotes and downvotes have been moved to voting.css */



.qsearchbtn { height: 48px; margin: 0; border-radius: 0px; border-left: 2px solid gray;}
.qsearchbtn:hover { transform: translateY(0px); box-shadow: none;}
#q_search { width: 300px; }



/* href */
a { color: #3a46f5; }
a:hover:not([.imglink]) { background: #6670ff5b; border-radius: 2px;}

/* recording & user profiles */

.npc-va-center-img { text-align: center; }
#voice-actor-avatar {
    max-width: 10vh;
    max-height: 10vh;
    border-radius: 5px;
}
.avatarcontents {
    max-width: 10vh;
    max-height: 10vh;
    border-radius: 5px;
}
a.valink:hover { background: none; }
.table-center {
    margin: 0px auto;
}
/* #contributerimg { max-width: 10vh; max-height: 10vh; border-radius: 4px; float: left;}
#contributerimg a:hover { background: none; cursor: pointer;}
.contact { margin-left: 100px; }
.contact:hover { background: none; cursor: pointer; } */


/* login */
input {
    border-bottom: 4px solid gray;
    border-radius: 3px;
    background: rgba(109, 109, 109, 0.13);
    outline: none;
    height: 50px;
    width: auto;
    font-size: 20px;
} 
input:hover {
    border-bottom: 4px solid gray;
    border-radius: 3px;
}
textarea {
    background: rgba(109, 109, 109, 0.13);
}
textarea:focus, input:focus {
    outline: none;
}
#name:focus { outline: none;}

/* downloads */

/* account stuff */
.newaccform {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.acctable {
    min-width: min-content;
}
#voice-actor-form {
    text-align: center;
}
#change-actor-btn { background-color: #8b2b1e; color: azure;}
#va-confirm-change {
    background-color: #e7cb6e;
}

/* cast stuff */
#socials-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.socials-row{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#discord-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#discord-tag-cast {
    font-size: 30px;
}


/* admin stuff */
.spacing {
    padding: 20px;
}
#table-npc-management td {
    min-width: 300px;
    max-width: 300px;
}
#managelink {
    color: red;
}
#managelink:hover {
    background: rgba(255, 0, 0, 0.226);
}
/* ##################### */
/*         other         */
/* ##################### */

/* fonts */
@font-face {
    font-family: minecraft;
    src: url(../fonts/Minecraftia-Regular.ttf);
}

/* ######################## */
/*        responsive        */
/* ######################## */

/* #### MOBILE ####*/
@media (max-width: 1000px) {                                    /** fuck mobile. had to be said. **/
    /* below mainly focuses on removing the navigation
    bar which will only be available on full sitze screens
    (laptop, desktop, tablet/ipad maybe */
    main li {z-index: -1;}
    #vertical, .nav li {overflow: hidden;}
    .nav, .nav li, li:not([id*="quest-npcs"]),
    .bio .bio0 {display: none;}
    #vertical {visibility: hidden;}
    a {
       color: none;
       background: none;
       border-radius: none;
    }
    a:hover {
        pointer-events: visible;
        position: relative;
        float: none;
    }
    .avatar0 p {text-align:left;}


    /* fixing <main> */
    /* in case this is problematic in the future remove it asap */
    body { width: 100%; background: whitesmoke; 
    box-shadow: none;}
    main {
        max-width: 100%;
        min-width: 100%;
    }
    html {
        max-width: 100%;
        min-width: 100%;
    }
    body {
        max-width: 100%;
        min-width: 100%;
    }
    p { padding-left: 10px;
    padding-right: 10px; }
    iframe { height: 130px; width: 210px; }

    #hr-past-bio{
        display: none;
    }
}

@media (max-width:465px) {
    iframe { height: 130px; width: 210px;}
}

/* fuck media-queries :) */
