form, #hide-form-button{
    display: none;
}
input {
    width: 100%;
}
#antispam {
    height: 64px;
}
textarea {
    resize: vertical;
    width: 100%;
    height: 10em;
}
form fieldset {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

fieldset fieldset {
    width: 100%;
    margin: 0;
}
.comment-form-wrapper {
    background-color: whitesmoke;
}
.comment-disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
}
.as-contributor, .as-guest{ background-color: #d1d1d1;} 
.as-contributor.selected { background-color: cornflowerblue; border-color: #39578b;}
.as-guest.selected { background-color: #efe867; border-color: #a5a147;}
.comment-tab {
    border-top: 3px solid #d1d1d1;border-left: 3px solid #d1d1d1;border-right: 3px solid #d1d1d1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    padding: 10px;
    width: 49%;
    text-align: center;
    z-index: 0;
    overflow: hidden;
}
.selected {
    border-bottom: none;
    transform: translateY(3px);
}
#contributor-option {
    float: left;
}
#guest-option {
    float: right;
}

#comments { border: none; }
.comment {
    max-height: fit-content;
    min-height: fit-content;
    width: 100%;
    border: 2px solid thistle;
    border-radius: 4px;
}
td {
    vertical-align: top;
}

#new-comment-button, #hide-form-button {
    background: rgb(79, 146, 221);
}
#new-comment-button:hover, #hide-form-button:hover {
    border-color:  rgb(66, 126, 194);
}
.delete-comment-button {
    display: block;
    float: right;
    margin: 10px;
    background: rgb(255, 35, 35);
    margin-right: -10px;
}
.delete-comment-button:hover {
    display: block;
    float: right;
    margin: 10px;
    border-color: rgb(255, 57, 57);
    margin-right: -10px;
}
.comment-main-column {
    width: 100%;
}
.comment-avatar {
    height: 80px;
    width: 80px;
    border-radius: 5px;
}
.contributor-badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 5px;
    border-radius: 1rem;
    border: 2px solid #39578b;
    background-color: cornflowerblue;

    padding-right: 10px; padding-left: 10px;
}
.author-badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 5px;
    border-radius: 1rem;
    border: 2px solid #8a339b;
    background-color: #e256ff;

    padding-right: 10px; padding-left: 10px;
}

.comment-container {
    margin-top: -20px;display: block;min-width: 700%;
}
@media (max-width: 1000px) {
    .comment-container {
        display: block;
        min-width: 230%;
    }
    .contributor-badge, .author-badge{
        display: inline-block;
        font-size: small;
        color: white;
        padding: 2px;
        border-radius: 1rem;

        padding-right: 4px;
    }
    .contributor-badge {
        border: 1px solid #1f63a7;
        background-color: #4a75a7d5;
    }
    .author-badge {
        border: 1px solid #7f179e;
        background-color: #793d8dd7;
    }

    .comment-form-wrapper {
        width: 100%;
    }
    .comment-writing-form {
        display: block;
        width: 100%;
        float: left;
        margin-left: 0px;
        position: relative;
    }
}