form, #hide-form-button{
    display: none;
}
input {
    width: 100%;
}
#antispam {
    height: 64px;
}
textarea {
    resize: vertical;
    width: 100%;
    height: 10em;
}
form fieldset {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

fieldset fieldset {
    width: 100%;
    margin: 0;
}

small {
    margin-top: 10px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
}
#comments { border: none; }
.comment {
    max-height: fit-content;
    min-height: 250px;
    width: 400px;
    border: 2px solid thistle;
    border-radius: 4px;
}
#new-comment-button, #hide-form-button {
    background: rgb(79, 146, 221);
}
#new-comment-button:hover, #hide-form-button:hover {
    border-color:  rgb(66, 126, 194);
}
.delete-comment-button {
    background: rgb(255, 35, 35);
}
.delete-comment-button:hover {
    border-color: rgb(255, 57, 57);
}