form, #hide-form-button{
    display: none;
}
input {
    width: 100%;
}
#antispam {
    height: 64px;
}
textarea {
    resize: vertical;
    width: 100%;
    height: 10em;
}
form fieldset {
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

fieldset fieldset {
    width: 100%;
    margin: 0;
}

.comment-disclaimer {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: x-small;
    text-align: center;
    display: inline-block;
}

.comment-tab {
    border: 3px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    padding: 10px;
    width: 49%;
    text-align: center;
}
.selected {
    border-bottom: none;
    transform: translateY(3px);
}
#contributor-option {
    float: left;
    background-color: #a667ef;
}
#guest-option {
    float: right;
    background-color: #efe867;
}

#comments { border: none; }
.comment {
    max-height: fit-content;
    min-height: fit-content;
    width: 800px;
    border: 2px solid thistle;
    border-radius: 4px;
}
td {
    vertical-align: top;
}

#new-comment-button, #hide-form-button {
    background: rgb(79, 146, 221);
}
#new-comment-button:hover, #hide-form-button:hover {
    border-color:  rgb(66, 126, 194);
}
.delete-comment-button {
    display: block;
    float: right;
    margin: 10px;
    background: rgb(255, 35, 35);
}
.delete-comment-button:hover {
    display: block;
    float: right;
    margin: 10px;
    border-color: rgb(255, 57, 57);
}
.comment-main-column {
    width: 100%;
}
.comment-avatar {
    height: 80px;
    width: 80px;
}
.contributor-badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 5px;
    border-radius: 1em;
    border: 1px solid #0066cc;
    background-color: #459cff;
}
.author-badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 5px;
    border-radius: 1em;
    border: 1px solid #9d00cc;
    background-color: #d145ff;
}
