/* styling for Mod Contents */
input {
    border-bottom: 4px solid gray;
    border-radius: 3px;
    background: rgba(168, 168, 168, 0.13);
    outline: none;
}
input:hover {
    border-bottom: 4px solid gray;
    border-radius: 3px;
}
textarea:focus, input:focus {
    outline: none;
}

#mod_contents {
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
    min-height: 200px;
    max-height: fit-content;
    margin-bottom: 10px;
}
.npc-avatar {
    height: 64px;
    width: 64px;
	border-radius: .3rem;
}
.npcvoice {
	position: absolute;
	cursor: default;
    color: #424456;
	align-items: center;
	text-align: center;
	display: inline-block;
	width: auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	border: 0.25rem solid #DC9587;
	padding: 0; 
	border-radius: .3rem; 
	box-shadow: .1rem .1rem .4rem 0 #777;
	background: aliceblue;
	flex: 3 0 21%;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	max-height: fit-content;
	min-width: calc(50rem / 3 - 0.5rem - 1rem);
	max-width: calc(50rem / 3 - 0.5rem - 1rem);
    min-height: 200px;
    max-height: fit-content;
}
.npcvoice:hover {
	cursor: pointer;
	content: none;
	box-shadow: .2rem .2rem .7rem 0 #777;
	transform: translateY(3px);
	pointer-events: visible;
	position: absolute;
	visibility: visible;
	float: none;
	overflow: hidden;
	z-index: 15;
}
.npcvoice:hover h3 {
	margin-top: 35px;
}
.questInfo {
	cursor: default;
	display: none;
	text-align: left;
	overflow: hidden;
	z-index: 15;
	list-style: none;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.questInfo li {
	justify-content: center;
	align-self: center;
	align-items: center;
}
.npcvoice:hover .questInfo { display: block; }


#results {
	display: none;
}

/*overwrite classles*/

.row {
	margin: 0;
}

.row > .col-4 {
	padding: 0;
	margin:0;
}

.card-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.npcvoice > h3 {
	margin: 0;
	padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	height:min-content;
}

.npcvoice {
	padding: .5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.questInfo {
	width: 100%;
}


@media (max-width: 1000px) {
	.questInfo {
		display: block;
		visibility: visible;
		overflow: auto;
	}
	.npcvoice {
		height: 350px;
		width: 350px;
	}
}