/* styling for Mod Contents */
input {
    border-bottom: 4px solid gray;
    border-radius: 3px;
    background: rgba(168, 168, 168, 0.13);
    outline: none;
}
input:hover {
    border-bottom: 4px solid gray;
    border-radius: 3px;
}
textarea:focus, input:focus {
    outline: none;
}
.row {
    min-height: 200px;
    max-height: fit-content;
    margin-bottom: 10px;
}
.npc-avatar {
    height: 64px;
    width: 64px;
}
#npcvoice {
	cursor: default;
    color: #424456;
	align-items: center;
	text-align: center;
	display: inline-block;
	width: auto;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: .5rem 0;
	border: 0.25rem solid #DC9587;
	padding: .5rem 1rem 0.5rem; 
	border-radius: .3rem; 
	box-shadow: .1rem .1rem .4rem 0 #777;
	background: aliceblue;
	flex: 3 0 21%;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	max-height: fit-content;
	min-width: calc(50rem / 3 - 0.5rem - 1rem);
	max-width: calc(50rem / 3 - 0.5rem - 1rem);
    min-height: 200px;
    max-height: fit-content;
}
#npcvoice:hover {
    cursor: default;
	content: none;
    box-shadow: .2rem .2rem .7rem 0 #777;
    transform: translateY(3px);
    pointer-events: visible;
    visibility: visible;
    float: none;
    overflow: hidden;
    z-index: 2;
}
#questInfo {
	cursor: default;
	display: none;
	text-align: left;
	overflow: hidden;
	z-index: 1;
}
#npcvoice:hover #questInfo { display: block; }



@media (max-width: 1000px) {
	#questInfo {
		display: block;
		visibility: visible;
	}
	.cardwrapper {
		margin-bottom: 500px;
		min-height: fit-content;
	}
}