/* chaos */

body {
    background-image: url(../images/skyislands_credits.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

main {
    background: whitesmoke;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: .2rem .2rem .7rem 0 #777;
    overflow: hidden;
}

h1, h2 {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: center;
    font-style: italic;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

a>.card {
    margin-left: auto;
    margin-right: auto;
    background: aliceblue;
    color: #424456; /* Default color for ROOT used by classless.css */
    text-align: center;
    border: 0.25rem solid #DC9587;
}

a>.card:hover {
    cursor: default;
	content: none;
    box-shadow: .2rem .2rem .7rem 0 #777;
    transform: translateY(3px);
}

a:hover #roles {
    display: block;
    cursor: default;
}


li {
    display: inherit;
}

.avatar {
    height: 10vh;
    border-radius: .3rem;
}

hr {
    overflow: hidden;
}