/* styling for credits */
body {
    background-image: url(../images/skyislands_credits.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

main {
    padding-right: 0.5vh;
    padding-left: 0.5vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
}

h1, h2 {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: minecraft;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
}
hr { overflow: hidden; }

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

strong {
    font-family: minecraft;
}

a>.card {
    margin-left: auto;
    margin-right: auto;
    background: aliceblue;
    color: #424456;
    text-align: center;
    border: 0.25rem solid #DC9587;
    z-index: 2;
}

a>.card:hover {
    cursor: default;
	content: none;
    box-shadow: .2rem .2rem .7rem 0 #777;
    transform: translateY(3px);
    pointer-events: visible;
    position: relative;
    z-index: 3;
    visibility: visible;
    float: none;
    overflow: hidden;
    z-index: 15;
}

.card:hover + .roles {
    animation-name: rolessmooth;
    animation-duration: 5s;
}

.cardwrapper {
    height: 400px;
    width: 25%;
}

a:hover .roles {
    display: block;
    cursor: default;
    z-index: 1;
    animation-name: rolessmooth;
    animation-duration: 5s;
}
/* .card:first-child:hover {
    animation-name: rolessmooth;
    animation-duration: 5s;
} */

.card:hover > .row + .roles {
        animation-name: rolessmooth;
        animation-duration: 5s;
}

li {
    display: inherit;
}

.avatar {
    height: 10vh;
    border-radius: .3rem;
}

hr {
    overflow: hidden;
}

.row, .col-3, .card { z-index: 11; }

@font-face {
    font-family: minecraft;
    src: url(../fonts/Minecraft.ttf);
}

@media (max-width: 1000px) {
    .card {
        width: 100%;
    }
}

@keyframes rolessmooth {
    0% {
        top: 0%;
    }
    25% {
        top: 25%;
    }
    50% {
        top: 50%;
    }
    75% {
        top: 75%;
    }
    100% {
        top: 100%;
    }
}

.avatar0 {float: left; margin-top: -50px;}
.bio {
    float: right;
    /* padding-left: 350px;
    margin-top: -135px; */
    font-style: italic;
}
#contributerimg { max-width: 10vh; max-height: 10vh; border-radius: 4px; margin-top: -10vh;}
#contributerimg a:hover { background: none; cursor: pointer;}
/* .contact { margin-left: 100px; } */
.contact:hover { background: none; cursor: pointer; }
.bio0 { float: right;
    padding-left: 350px;
    margin-top: -135px;
    font-style: italic; }