.downloads-wrapper {
    display: flex;
    justify-content: center;
}

.downloads-wrapper > a {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.downloads-wrapper > a > .downloads-option-bg-img {
    opacity: 0.5;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.downloads-wrapper > a:hover > .downloads-option-bg-img {
    opacity: 1;
}

.downloads-wrapper > a > span {
    text-align: center;
    color: darkmagenta;
    position: absolute;
    font-size: 1.2em;
    font-weight: bold;
}

.downloads-wrapper > a > span > strong{
    color: rebeccapurple;
}

.downloads-wrapper > a:hover > span {
    background-color: #ffffff77;
    border-radius: 20px;
    padding: 5px;
 }
