.dl-details-table {
    position: relative;
    left: 31%;
}

#false-positive-info {
    border: 3px solid rgba(255, 0, 0, 0);
    border-radius: 10px;
}

.updatebtn { background: cornflowerblue; }
.updatebtn:hover { border-color: #4a89e4;  }

#download-started, #install-started {
    display:none;
    color: green;
    font-weight: bold;
}

.report-download-issue a {
    color: orangered;
}

#terms {
    color: gray;
    display: block;
    font-size: 1rem;
}

#release-type {
    border-bottom: 1px dotted black;
}

#changelog {
    border: 3px dashed black;
    background-color: #FFFFCC;
    padding: 2rem;
}

#changelog h1, #changelog h2, #changelog h3 {
    margin-top: 0;
}
