body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.error-header {
    font-family: Consolas, sans-serif;
}
#error-picture {
	max-height: 65vh;
}
.art-credit {
    font-style: italic;
    font-size: 1rem;
}
.return-button {
    margin-top: 1.5rem;
    font-size: larger;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3cfc5f;
	border-radius: 10px;
    border: 5px solid transparent;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
}