/* seems to belong to Mod Contents too */

#voice-actor-form {
    display: none;
}

.delete-recording-btn {
    background-color: #f63613;
    color: white;
    font-size: 3em;
    padding: 0;
    width: 64px;
    height: 64px;
}

.add-more-recordings-button {
    /* Will be displayed again by jQuery when the initial field is filled */
    display:none;
}