#change-actor-btn { background: rgb(255, 204, 0);}
#change-actor-btn:hover { border-color: rgb(210, 176, 43); }

#archive-btn { background: rgb(140, 140, 140);}
#archive-btn:hover { border-color: rgb(197, 16, 16); }

.archive-all-recordings-btn { background: rgb(255, 79, 79);}
.archive-all-recordings-btn:hover  { border-color: rgb(187, 79, 79);}

#voice-actor-form {
    display: none;
}

#overwrite-checkbox {
    height: 1.25rem;
    width: 1.25rem;
}

.delete-recording-btn {
    background-color: #f63613;
    color: white;
    font-size: 3em;
    padding: 0;
    width: 64px;
    height: 64px;
}

.add-more-recordings-button {
    /* Will be displayed again by jQuery when the initial field is filled */
    display:none;
}

.upload-form-overwrite {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .2rem;
    margin: 2rem 0rem;
}

.upload-form-overwrite > span {
    color: red;
}