/.idea/
.vscode/
/dynamic/*
!/dynamic/avatars/default.png
!/dynamic/avatars/nobody.png
!/dynamic/discord-avatars/default.png
/files/*
!/files/core-dev-server/*
/vendor/
profiles.php
composer.phar
.devcontainer
/sessions/*
!/sessions/.gitkeep
*nul
