/.idea/
.vscode/
/website/dynamic/*
!/website/dynamic/avatars/default.png
!/website/dynamic/avatars/nobody.png
!/website/dynamic/discord-avatars/default.png
/website/files/*
!/website/files/core-dev-server/*
/website/vendor/
.env
.env.local
.env.*.local
/website/profiles.php
/website/composer.phar
.devcontainer
/website/sessions/*
!/website/sessions/.gitkeep
*nul
vow-api/**/bin/
vow-api/**/obj/
vow-api/publish/
.playwright-mcp/
