<!DOCTYPE html>
<!-- IMPORTANT!!! I didnt know how exactly I should implement this to the pre-existing
php so I did it with sperate files. this may cause some confusion as to what is going
on but i think thats the best solution as of right now!
In case you may know how i could implement this directly into cast.phtml i'd love to
know because i think this certainly isnt the best solution -->
<html>
<head>
    <title>nope</title>
</head>
<body>
<a class="contact" href="mailto:<?= $voiceActor->getEmail() ?>">
    <button class="contactbtn">
        <img id="contributerimg" src="dynamic/avatars/<?= $voiceActor->getAvatarLink() ?>" 
             alt="Voice actor's avatar" 
             style="max-width: 10vh; 
                    max-height: 10vh;">
    </button>
</a>
</body>
</html>