.downloads-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.downloads-wrapper>.download-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 10px;
    border: 2px solid black;
    padding: .5rem;
    transition: all .2s ease-in-out;
}

.downloads-wrapper>.download-cards>.download-card-desc {
    width: 100%;
    text-align: center;
    color: black;
}

.downloads-wrapper>.download-cards>img {
    opacity: .5;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    color: #010038;
}

.downloads-wrapper>.download-cards>svg {
    opacity: .5;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    color: #010038;
}

.downloads-wrapper>.download-cards:hover {
    background-color: #333;
}

.downloads-wrapper>.download-cards:hover>.download-card-desc {
    color: white;
}

.downloads-wrapper>.download-cards:hover>img {
    opacity: 1;
    color: white;
}

.downloads-wrapper>.download-cards:hover>svg {
    opacity: 1;
    color: white;
}
